<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mission to Mars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Mission to Mars</h1>
            <a class="btn btn-lg text-white" style="background-color:#FF5733;" href="/scrape" role="button">Scrape New
                Data</a>
        </div>

        <!-- News Section -->
        <div class="container">
            <h3>Latest Mars News</h3>
            <h4 style="color: #FF5733">{{ mars_info.news_title }}</h4>
            <p>{{ mars_info.news_paragraph }}</p>
        </div>

        <div class="container">
            <div class="row">
                <!-- Left Image-->
                <div class="col-md-8 col-sm-12">
                    <h3>Featured Mars Image</h3>
                    <img src="{{ mars_info.featured_image_url }}" style="max-width:100%; max-height: auto;"
                        alt="Mars Featured Image">
                </div>

                <!-- Weather Card -->
                <div class="col-md-4 col-sm-12">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Current Weather on Mars</h5>
                            <p class="card-text">{{ mars_info.weather_tweet }}</p>
                        </div>
                    </div>
                    <!-- Table -->
                    <br>
                    <h5>Mars Facts</h5>
                    <div style="max-width: 450px; max-height: 150px; font-size: 15px; margin-bottom: 65px;">
                        {{ mars_info.mars_facts|safe}}
                    </div>
                </div> 
            </div>
        </div>

        <!-- Cards -->
        <h3 style="padding-top: 50px; margin-top: 100px; text-align: center;">Mars Hemispheres</h3>
        <div class="card-deck">
            <hr>
            <div class="col-md-12">
                <div class="row">
                    {% for item in mars_info.hemisphere_image_urls %}
                    <div class="col-md-6">
                        <div class="card" style="margin: 30px;">
                            <img class="card-img-top" src="{{ item.img_url }}" />
                            <div class="card-body">
                                <p class="card-text">{{ item.title }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

</body>

</html>